<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista de familiares</title>
    </head>
    <body>

        <h1>"LISTA DE FAMILIARES CARGADOS en DB"<h1>

        {% for familiar in datos %}
            <p>-------------------------------</p>
            <p>Nombre:{{familiar.nombre}}</p>
            <p>Edad:{{familiar.edad}}</p>
            <p>Nacimiento:{{familiar.nacimiento}}</p>
  

        {% endfor %}
          
    </body>
    </html>